.wrapper {
  display: grid;
  grid-template-rows: 0fr 1fr;
  height: 100vh;
}

.children {
  background: rebeccapurple;
  color: white;
  padding: 10px;
}

.tool_bar {
  position: sticky;
  top: 0px;
}