<div class="wrapper">
  <app-toolbar class="toolbar mat-elevation-z5"></app-toolbar>
  <div class="children">
    <div class="container">
      <img class="angular-logo" src="assets/angular-logo.svg" alt="Learn Angular">

      <h1 class="title_font">
        <img class="vlc_icon" src="assets/VLC_Icon.svg"> Learn Angular !!
        <img class="vlc_icon" src="assets/VLC_Icon.svg">
      </h1>

      <div class="underline">
        <p></p>
      </div>

      <div class="search-bar">
        <input type="text" placeholder="filter...">
      </div>
    </div>
    
  </div>
</div>